.App {
  text-align: center;
}
.h2{
 text-align: center;
 margin-top: 100px;
}

.map-container {
  height: 70vh;
  width: 90%;
  border-radius: 15px;
}

.mapBackground {
  background-color: #c4ccdd;
}

.navbar {
  height: 15vh;
  background-color: #a5a4ba;
}

.footer {
  height: 15vh;
  background-color: #342A28;
}