.App {
  text-align: center;
}

.map-container {
  height: 70vh;
  width: 90%;
  border-radius: 15px;
}

.mapBackground {
  background-color: #282c34;
}

/* .navbar {
  height: 15vh;
  background-color: #342A28;
} */

/* .footer {
  height: 15vh;
  background-color: #342A28;
} */